server:
  port: 8761
spring:
  application:
    name: discovery
  security:
    user:
      name: root
      password: password
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false