server:
  port: 8761
spring:
  application:
    name: discovery
  security:
    user:
      name: root
      password: password
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://root:password@localhost:8761/eureka
  server:
    wait-time-in-ms-when-sync-empty: 0